/* External */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');

/* Misc */
@import url(./misc/variables.css);
@import url(./misc/normalize.css);
@import url(./misc/helpers.css);
@import url(./misc/animations.css);

/* Partials */
@import url(./partials/header.css);
@import url(./partials/footer.css);

/* Components */
@import url(./components/slider.css);
@import url(./components/card.css);
@import url(./components/buttons.css);
@import url(./components/input.css);
@import url(./components/form.css);
@import url(/ext/toasty/toasty.min.css);
@import url(./components/toast.css);

/* Pages */
@import url(./pages/home.css);
@import url(./pages/shop.css);
@import url(./pages/item.css);
@import url(./pages/cart.css);
@import url(./pages/admin.css);
@import url(./pages/login.css); 
@import url(./pages/register.css);
@import url(./pages/create.css);
@import url(./pages/edit.css);

::-webkit-scrollbar {
    width: 16px;     
    height: 4px;    

}

::-webkit-scrollbar-thumb {
    background: var(--secondary-900);
    border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-500);;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


::-webkit-scrollbar-thumb:active {
    background: var(--primary-900);
}


::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}


::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}