#shop {
    margin: var(--spacing-68) auto;
    display: flex;
    gap: var(--spacing-16);
}

/* Filter */

.filter {
    display: flex;
    flex-direction: column;
    gap:var(--spacing-28);
    font-weight: 500;
    min-width: 240px
}

.filter__title {
    font-size: var(--font-large);
}

.filter input, .filter select {
    padding: var(--spacing-8);
    border-radius: 6px;
    border: 2px solid var(--dark-bg-solid);  
    font-size: var(--font-small);  
}

.filter label {
    font-size: var(--font-small);
}

.filter__search, .filter__order, .filter__checks{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-16)
}

.filter__range div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--spacing-16);
}

.filter__range input {
    /* font-size: var(--font-medium); */
    padding: 4px var(--spacing-8);
    width: var(--spacing-68);
    font-size: var(--font-medium);
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.check_row {
    display: flex;
    align-items: center;
    margin-left: var(--spacing-20);
}

.check_row input {
    height: var(--spacing-24);
    width: var(--spacing-24);
    accent-color: var(--primary-solid);
    border-radius: 6px;
}

.check_row label {
    font-size: var(--font-medium);
    margin-left: var(--spacing-8);
}

/* Shop content */

.shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    margin-bottom: var(--spacing-68);
}

/* PAGINATION */

.pagination {
    display: flex;
    gap: var(--spacing-8);
    
}

.pagination__link {
    display: inline-flex;
    font-size: var(--font-xsmall);
    font-weight: 700;
    border: solid 1.5px var(--dark-300);
    background-clip: padding-box; /* border-color + background-color fix para RGBA*/
    border-radius: 4px;
    /* padding: var(--spacing-12) var(--spacing-16); 
    max-width: 44px; */
    height: var(--button-size);
    width: var(--button-size);
    place-content: center;
    align-items: center;
    transition: background 0.2s ease-in-out, 
                color 0.2s ease-in-out;
}

.pagination__link:first-of-type, .pagination__link:last-of-type {
    color: var(--dark-300);
}

.pagination__link--active {
    color: var(--primary-solid);
    border-color: var(--primary-solid);
}

.pagination__link.pagination__link--disabled {
    color: var(--light-font-solid);
    border-color: var(--dark-300);
    background-color: var(--dark-300);  
}

.pagination__link:hover:not(.pagination__link--disabled) {
    background-color: var(--primary-900);
    color: var(--light-bg-solid);
    border-color: var(--primary-900);
}