<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %> | FUNKOSHOP</title>
        <meta name="description" content="HTML-CSS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>

        <%- include('../partials/header.ejs') %>

        <main class="container cart">
            <h2 class="cart__title">CARRITO DE COMPRAS</h2>
            <section class="cart__content">
                <section class="cart__header">
                    <p class="header__title">DETALLE DE PRODUCTO</p>
                    <p class="header__title">CANTIDAD</p>
                    <p class="header__title">TOTAL</p>
                    <p class="header__title"></p>
                </section>       
            </section>  

            <section class="cart__summary"> </section>
        </main>

        <%- include('../partials/footer.ejs') %>
        <script>   
            // Guardar carrito en local storage
            // let cartJSON = unescape('<%- JSON.stringify(cart) %>');
            // console.log(typeof(cartJSON))
            // localStorage.setItem("cart", cartJSON)
            // console.log(cartJSON);
            // cart = JSON.parse(cartJSON)
        </script>
<script src="/js/currency.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/quantityInput.js"></script>
    </body>
</html>
