<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %> | FUNKOSHOP</title>
        <meta name="description" content="HTML-CSS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
    </head>
<body>
    
    <%- include('../partials/header.ejs') %>

    <main id="shop" class="container">
        <aside class="filter">
            <div class="filter__search">
                <p class="filter__title">BUSCAR</p>
                <input type="text" name="Buscar" placeholder="Item o franquicia">
            </div>
            <div class="filter__order">
                <p class="filter__title">ORDENAR POR</p>
                <select name="" id="">
                    <option value="value1" selected>Alfabéticamente</option>
                    <option value="value2">Precio ↑</option>
                    <option value="value3">Precio ↓</option>
                </select>
            </div>
            <div class="filter__range">
                <p class="filter__title">PRECIO</p>
                <div>
                    <label>MIN</label>
                    <input type="number" placeholder="0">
                    <span>-</span>
                    <label>MAX</label>
                    <input type="number" placeholder="0">
                </div>
            </div>
            <div class="filter__checks">
                <p class="filter__title">FILTRAR</p>
                <div class="checklist">
                    <div class="check_row">
                        <input type="checkbox" name="" id="nuevos">
                        <label for="nuevos">NUEVOS</label>
                    </div>
                    <div class="check_row">
                        <input class="check" type="checkbox" name="" id="ofertas">
                        <label for="ofertas">OFERTAS</label>
                    </div>
                    <div class="check_row">
                        <input type="checkbox" name="" id="ed-especial">
                        <label for="ed-especial">EDICIÓN ESPECIAL</label>
                    </div>
                    <div class="check_row">
                        <input type="checkbox" name="" id="fav">
                        <label for="fav">FAVORITOS</label>
                    </div>
                </div>
            </div>
        </aside>

        <section class="shop-content">
            <ul class="shop-items">               
            
            </ul>

            <nav class="pagination">
                <a class="pagination__link pagination__link--disabled" href="#">&#8249;</a>
                <a class="pagination__link pagination__link--active" href="#">1</a>
                <a class="pagination__link" href="#">2</a>
                <a class="pagination__link" href="#">...</a>
                <a class="pagination__link" href="#">9</a>
                <a class="pagination__link" href="#">10</a>
                <a class="pagination__link" href="#">&#8250;</a>
            </nav>

        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
     <script>
        const products = <%- JSON.stringify(shopData) %>;
     </script>
     <script src="/js/shop.js"> </script>
</body>
</html>