<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %> | FUNKOSHOP</title>
        <meta name="description" content="HTML-CSS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
    </head>

<body class="grid-fixed">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main id="create" class="container">
        <h2 class="create__title">CREAR NUEVO ITEM</h2>
        <form class="product-form create__form" action="/admin/create" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="product-form__row">
                <div class="product-form__box">
                    <label class="product-form__label" for="collection">Categoría:</label>
                    <select class="product-form__select" name="collection" id="collection" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option value="Figuras Coleccionables">Figuras Coleccionables</option>
                        <option value="Llaveros">Llaveros</option>
                        <option value="Remeras">Remeras</option>
                    </select>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="collection">Licencia:</label>
                    <select class="product-form__select" name="collection" id="collection" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option value="starwars">Star Wars</option>
                        <option value="pokemon">Pokemon</option>
                        <option value="harrypotter">Harry Potter</option>
                    </select>
                </div>
            </div>
            <div class="product-form__box">
                <label class="product-form__label" for="name">Nombre del producto:</label>
                <input class="input-underlined product-form__input--long" type="text" name="name" id="name" placeholder="Kakashi Hatake Shippuden Saga" required>
            </div>
            <div>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción del producto" required></textarea>
            </div>
            <div class="product-form__row">
                <div class="product-form__box">
                    <label class="product-form__label" for="sku">SKU:</label>
                    <input class="input-underlined product-form__input--medium" type="text" name="sku" id="sku" placeholder="SSK111AB001" required>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="price">Precio:</label>
                    <div class="product-form__input--wrapper">
                        <span>$</span><input class="input-underlined product-form__input--medium" type="text" name="price" id="price" data-type="currency" placeholder="0.000,00">
                    </div>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="stock">Stock:</label>
                    <input class="input-underlined product-form__input--short" type="text" name="stock" id="stock" placeholder="0" required>
                </div>
            </div>
            <div class="product-form__row">
                <div class="product-form__box">
                    <label class="product-form__label" for="discount">Descuento:</label>
                    <div class="product-form__input--wrapper">
                        <input class="input-underlined product-form__input--short" type="text" name="discount" id="discount" placeholder="0" required> <span>%</span>
                    </div>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="dues">Cuotas:</label>
                    <select class="product-form__select product-form__select--large" name="dues" id="dues">
                        <option value="0">Sin cuotas</option>
                        <option value="3">3 cuotas s/ interés</option>
                        <option value="6">6 cuotas s/ interés</option>
                        <option value="9">9 cuotas s/ interés</option>
                        <option value="12">12 cuotas s/ interés</option>
                        <option value="18">18 cuotas s/ interés</option>
                        <option value="24">24 cuotas s/ interés</option>
                    </select>
                </div>
            </div>
            <div class="product-form__box">
                <label class="product-form__label" for="images">Imagenes:</label>
                <input type="file" name="images" id="img" multiple>
            </div>
            <div class="product-form__row">
                <input class="btn-primary product-form__btn" type="submit" value="Agregar Producto">
                <input class="btn-primary product-form__btn" type="reset" value="Limpiar">
            </div>
        </form>
    </main>
    
    <!--  footer  -->
    <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>