/* USER DATA FORM */

.user-data-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
}

.user-data-form__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-24);
}

.user-data-form__row:last-child {
    justify-content: space-evenly;
    gap: 0;
}