/* UNDERLINED INPUT */

.input-underlined {
    height: var(--spacing-36);
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-small);
    color: var(--dark-300);
    padding: 0 var(--spacing-8);
    transition: border .3s, border-radius .5s, color .5s;
}

.input-underlined:focus {
    outline: none;
    color: var(--dark-solid);
    border: 2px solid var(--primary-solid); /* Cambiamos el color del borde al enfocar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agregamos un difuminado al enfocar */
    border-radius: 5px;
}

.input--pass {
    letter-spacing: 3px;
    font-size: var(--font-jumbo);
}