header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__logo {
    width: 372px;
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu__link {    
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

.navbar__item--cart {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    line-height: 20px;
}
.navbar__cart-notification {
    position: absolute;
    top: -0.8rem;
    right: -1rem;
    height: 2.2rem;
    width: 2.2rem;
    line-height: 20px;
    text-align: center;
    background-color: var(--primary-solid);
    font-size: var(--font-medium);
    border-radius: 50%;
}