.cart {
    padding: var(--spacing-128) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-68);
    align-items: center;
}

h2 {
    align-self: self-start;
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    padding-bottom: var(--spacing-8);
    border-bottom: 5px solid var(--primary-solid);
}

.cart__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-36)
}

/* Cart header */

.cart__header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: var(--spacing-16) 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.cart__header .header__title{
    flex-basis: 23%;
    text-align: center;
    font-size: var(--font-small);
    font-weight: 700;
    padding-right: var(--spacing-16);
}

.cart__header .header__title:first-child {
    flex-basis: 50%;
}

.cart__header .header__title:last-child {
    flex-basis: 4%;
}

/* Cart product */

.cart__product {
    display: flex;
    align-items: center;
    width: 100%;
    height: 195px;
    padding: var(--spacing-16);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.cart__product .product__card {
    flex-basis: 50%;
}  

.cart__product > * {
    flex-basis: 23%
}

.cart__product > *:last-child {
    flex-basis: 4%
} 

.product__card {
    display: flex;
    margin: var(--spacing-24) 0;
    height: 100%
}

.product__cover {
    display: flex;
    align-items: center;
}

.product__cover img {
    height: 90%
}

.product__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: var(--spacing-16);
    padding: var(--spacing-28);
    padding-right: 0;
}

.product__name {
    font-size: var(--font-large);
    font-weight: 700;
    padding-bottom: var(--spacing-8);
}

.product__license {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.product__quantity-container {
    display: flex;
    height: var(--spacing-36);
    width: var(--spacing-68);
    justify-content: center;
}

.product__quantity {
    height: var(--spacing-36);
    width: var(--spacing-68);
    text-align: center;
    margin: 0 var(--spacing-8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    color: var(--light-font-solid);
    border-width: 0px;    
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.product__quantity-btn {
    background-color:#FF3333
}

.product__quantity-btn:hover {
    background-color: var(--primary-500);
}

.product__quantity-btn:active{
    background-color: var(--primary-300);
    transition: none
}

.product__price {
    font-size: var(--font-xsmall);
    font-weight: 400;
    margin-top: var(--spacing-8);
}


.product__total-price {
    display: flex;
    justify-content: center;
}

.product__delete-btn {
    height: 28px;
    width: 28px;
    border: none;
    background-color: var(--light-bg-solid);
    color: var(--primary-solid);
    transition: color .3s ease-in-out;
}

.product__delete-btn:hover {
    color: var(--primary-500);  
}

.product__delete-btn:active {
    color: var(--secondary-900);
    transition: none
}

/* Summary */

.cart__summary {
    align-self: self-end;
}

.summary__title {
    margin-bottom: var(--spacing-24);
}

.summary__content {
    padding: var(--spacing-24);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.summary__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 20px) 1fr;
    gap: var(--spacing-20);
    align-items: end;
    font-family: var(--base-font);
}

.summary__concept, .summary__mount {
    font-size: var(--font-small);
    font-weight: 700;
}

.summary__mount {
    justify-self: end;
    color: var(--dark-500);
}

.summary__total {
    display: flex;
    justify-content: space-between;
    padding-top:  var(--spacing-8);
    border-top: 2px solid var(--primary-solid);
}

.summary__total.summary__total p {
    font-size: 2em;
}

.summary__go-pay {
    font-size: var(--font-xlarge);
    font-weight: 700;
    padding: var(--spacing-16) 0;
    width: 100%;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    border: none;
    margin-top: var(--spacing-36);
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.summary__go-pay:hover {
    background-color: var(--primary-900);
}

.summary__go-pay:active {
    background-color: var(--primary-500);
    transition: none;
}
