.item {
    display: flex;
    align-items: center;
    margin: var(--spacing-128) auto;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.item__license {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.item__title {
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.item__text {
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price {
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item form {
    display: flex;
    max-height: var(--spacing-36);

}

.item__input {
    max-width: 100px;
    font-size: var(--font-large);
    color: var(--dark-bg-solid);
    margin-right: var(--spacing-8);
}

.item button {
    color: var(--light-font-solid);
    border-width: 0px;    
    cursor: pointer;
    transition: background .3s ease-in-out;
}


.item__submit-btn {
    margin-left: var(--spacing-24);
    font-family: var(--base-font);
    font-size: var(--font-medium);
    font-weight: 400;
    background-color: var(--primary-solid);
    padding: 0 var(--spacing-16);
}

.item__submit-btn:hover {
    background-color: var(--primary-900);
}

.item .item__submit-btn:active {
    background-color: var(--primary-500);
    transition: none
}

.item__promo {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

.item__promo a {
    text-decoration: underline;
}