.shop-container {
    margin: var(--spacing-68) auto;
    display: flex;
}

.shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    margin-bottom: var(--spacing-68);
}

/* PAGINATION */

.paginaiton {
    display: flex;
    gap: var(--spacing-8);
    
}

.pagination__link {
    display: inline-flex;
    font-size: var(--font-xsmall);
    font-weight: 700;
    border: solid 1.5px var(--dark-300);
    background-clip: padding-box; /* border-color + background-color fix para RGBA*/
    border-radius: 4px;
    /* padding: var(--spacing-12) var(--spacing-16); 
    max-width: 44px; */
    height: var(--button-size);
    width: var(--button-size);
    place-content: center;
    align-items: center;
    transition: background 0.2s ease-in-out, 
                color 0.2s ease-in-out;
}

.pagination__link:first-of-type, .pagination__link:last-of-type {
    color: var(--dark-300);
}

.pagination__link--active {
    color: var(--primary-solid);
    border-color: var(--primary-solid);
}

.pagination__link.pagination__link--disabled {
    color: var(--light-font-solid);
    border-color: var(--dark-300);
    background-color: var(--dark-300);  
}

.pagination__link:hover:not(.pagination__link--disabled) {
    background-color: var(--primary-900);
    color: var(--light-bg-solid);
    border-color: var(--primary-900);
}